Source: com.github.danrabbit.harvey
Section: x11
Priority: extra
Maintainer: Daniel Foré <daniel@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libgtk-3-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: com.github.danrabbit.harvey
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, geoclue-2.0
Description: The hero that Gotham needs right now
 Calculate and visualize color contrast. Harvey checks a given set of colors for WCAG contrast compliance.
